.container{
  display:grid;
  grid-template-rows:repeat(4,100px);
  grid-template-columns: repeat(4,1fr);
  justify-items:start;
  align-items:start;
}

.item-1{
  justify-self:center;
  align-self:stretch;
}